.leftBtn{
    float: left;
}

.rightBtn{
    float: right;
}

.arrowVerticalCenter{
  margin-top: 10em;
  position: fixed;
}

.containerCarousel{
  width: 700;
  height: 500;
}

.text{
  margin-top: 1%;
}

.containerMargin{
  margin-top: 10%;
}